@import "tailwindcss";

@theme {
    --font-poppins: Poppins, sans-serif;
    --font-arial: Arial, sans-serif;
    --font-calibri: Calibri, sans-serif;
    --color-theme-color: rgb(136, 0, 21);
    /* ... */
}